#adherent
{
	float: left;
	margin-top: 8%;
	margin-left: 15%;

}
#facturation
{
	margin-top: 8%;
	float: left;
	margin-left:10%;

}
#export
{
	margin-top: 8%;
	float: left;
	margin-left:10%;
}
#accueil
{
	margin-bottom: 6%;
}
#trimestre
{
	margin-top: 30%;
	margin-left:32%;
	font-size: 150%;
}
input.accueil{
	margin-bottom:10px;
}

h1
{
	text-align: center;
	margin:0;
}

#logo
{
	position: absolute;
	top:1px;
	display:block;
}

*{
	font-family:'Roboto',Arial;
}


#listetrimestre{
	margin-top: 8%;
	line-height: 2;
}

#tarif input[type=number]{
	width: 80%;
	padding: 5px 20px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
#tarif input[type=submit]{
	width: 80%;
	background-color: #50BBDB;
	color: white;
	padding: 5px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#tarif input[type=submit]:hover{
	background-color: #D9D9D9;
	color: grey;
}
#tarif{
	width: 50%;
	margin-left:35%;
	line-height: 2;
}

#ajoutadherent,#ajouttrajet{
	/*width: 360px;*/
	margin-left:auto;
	margin-left: auto;
	padding-right: 25%;
	padding-left: 25%;
	line-height: 2;
	text-align: center;
}


#conteneur{
	width: 1170px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;

}

#ajoutadherent input[type=text]{
	width: 50%;
	padding: 5px 20px;
	margin: 4px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#ajouttrajet input[type=number]{
	width: 50%;
	padding: 5px 20px;
	margin: 4px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}


#ajoutadherent input[type=submit]{
	width: 50%;
	background-color: #50BBDB;
	color: white;
	padding: 5px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#btn_tarifRetour{
	width: 40%;
	background-color: #50BBDB;
	color: white;
	padding: 8px 20px;
	margin: 8px 35%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#btn_ajout{
	width: 25%;
	background-color: #50BBDB;
	color: white;
	padding: 8px 15px;
	margin: auto 37.25%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#ajoutadherent input[type=submit]:hover {
	background-color: #D9D9D9;
	color:white;
}

#btn_ajout:hover {
	background-color: #D9D9D9;
	color:white;
}



th{
	background-color: #C2C2C2;
	font-size: 0.95em;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	background-color: #C2C2C2;
	text-decoration: none;
}

#couleur{
	background-color: red;
}

#supprimer{
	display: block;
	margin-top: 10px;
}
#prixglobal{
	margin-left: 75%;
	font-weight: bold;
}

#retourReport{
	margin-left: 40%;
}

#titre{
	text-decoration: none;
}

#titre:hover{
	background: transparent;
	color:#337AB7;
}

hr.style-ligne { border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc); }

#statistique{
	text-align: center;
	margin-top: 30px;
}

#statistique form{
	display: inline-block;
}

#statistique button{
	margin-right: 100px;
	margin-top: 40px;
}

#statistique legend{
	width: 50%;
	margin-left: 25%;
}


.content-loader{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
}

#conteneurBtn{
	display: flex;
	justify-content: space-between;
}

#debut{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	display: flex;
	align-content: center;
	justify-content: center;
}

#debut select{
	margin-right: 10px;
}
